.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #000;
}

.login-content {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 935px;
  width: 100%;
}

/* 왼쪽 이미지 큰 화면에서만 */
.login-image-section {
  margin-right: 32px;
}

@media (max-width: 875px) {
  .login-image-section {
    display: none;
  }
}

.login-form-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-box,
.signup-box {
  background-color: #000;
  border: 1px solid #363636;
  width: 350px;
  padding: 20px 40px;
  text-align: center;
}

.logo {
  font-family: "serif";
  font-size: 40px;
  margin: 30px 0;
}

.login-form input {
  width: 100%;
  padding: 9px;
  margin-bottom: 6px;
  border: 1px solid #363636;
  border-radius: 3px;
  background-color: #121212;
  color: white;
  font-size: 12px;
}

.login-btn {
  width: 100%;
  background-color: #0095f6;
  color: white;
  border: none;
  padding: 5px 0;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 8px;
  cursor: pointer;
}

.divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #dbdbdb;
}
.text {
  margin: 0 18px;
  color: #8e8e8e;
  font-size: 13px;
  font-weight: bold;
}
